In [1]:
import fantasy_stats_def as fs
import pandas as pd

#### Get all info (only run when new info to retrieve) ####

In [ ]:
all_lineups_df = fs.get_all_lineups()

In [4]:
league_stats_df_by_gameweek = fs.get_league_stats_df_by_gameweek(all_lineups_df)
league_stats_df_by_gameweek_with_bench = fs.get_league_stats_df_by_gameweek(all_lineups_df, True)

NameError: name 'all_lineups_df' is not defined

In [93]:
league_points_df = fs.get_league_points_df(cumulative = True, totals = False)
league_positions_df = fs.get_league_positions_df()
league_standings_df = pd.concat([league_points_df, league_positions_df],keys=['points','position']).swaplevel(0,1).groupby(level=[0,1]).sum()

#### Play with info ####

In [94]:
league_standings_df

                  1    2
Emma   points    43  105
       position   2    1
Claire points    39   85
       position   3    2
Luke   points    27   84
       position   5    3
Olivia points    31   82
       position   4    4
Matt   points    22   78
       position   7    5
Fat    points    48   73
       position   1    6
George points    26   64
       position   6    7

In [16]:
all_lineups_df['Emma',2]

,name,team,position,value,selected %,minutes,goals scored,goals conceded,penalties missed,penalties saved,assists,saves,own goals,yellow cards,red cards,foul points,total points
252,Alisson,Liverpool,Goalkeeper,6,10.9485,90,0,0,0,1,0,3,0,0,0,0,14
62,Dunk,Brighton,Defender,5,7.59016,90,0,0,0,0,0,0,0,0,0,0,7
458,Boly,Wolves,Defender,5.5,2.28867,90,0,3,0,0,0,0,0,0,0,0,1
323,Fern√°ndez,Newcastle,Defender,5,1.5353,90,0,3,0,0,0,0,0,0,0,0,1
254,Salah,Liverpool,Midfielder,12,35.5182,90,0,0,0,0,0,0,0,0,0,0,3
241,Milner,Liverpool,Midfielder,5.5,0.192532,26,0,0,0,0,0,0,0,0,0,0,1
113,Kant√©,Chelsea,Midfielder,5,4.32095,90,0,2,0,0,0,0,0,0,0,0,2
193,Hern√°ndez,Leeds,Midfielder,6,1.67499,0,0,0,0,0,0,0,0,0,0,0,0
388,Kane,Spurs,Forward,10.5,12.3814,83,1,1,0,0,4,0,0,0,0,0,21
268,Ag√ºero,Man City,Forward,10.5,3.51415,0,0,0,0,0,0,0,0,0,0,0,0
166,Richarlison,Everton,Forward,8,10.8746,90,0,2,0,0,3,0,0,0,0,0,12
56,Button,West Brom,Goalkeeper,4,4.84438,0,0,0,0,0,0,0,0,0,0,0,0
154,Bernard,Everton,Midfielder,6,0.166727,0,0,0,0,0,0,0,0,0,0,0,0
102,Azpilicueta,Chelsea,Defender,6,6.07621,0,0,0,0,0,0,0,0,0,0,0,0
81,Tarkowski,Burnley,Defender,5.5,5.19155,0,0,0,0,0,0,0,0,0,0,0,0
totals (inc. bench),9,11,,100.5,7.14122,739,1,11,0,1,7,3,0,0,0,0,62
totals,9,9,,79,8.25814,739,1,11,0,1,7,3,0,0,0,0,62

In [27]:
league_stats_df_by_gameweek[1]

,active players,team,value,selected %,minutes,productivity,goals scored,goals conceded,goal difference,penalties missed,penalties saved,assists,saves,own goals,yellow cards,red cards,foul points,total points,weekly position
Fat,11,8,70.5,7.29949,913,0.052574,3,11,-8,0,0,1,3,0,0,0,0,48,1
Emma,10,9,69,7.67975,786,0.054707,3,14,-11,0,0,0,0,0,0,0,0,43,2
Claire,10,9,76,5.40426,799,0.048811,2,13,-11,0,0,3,0,0,2,0,2,39,3
Olivia,11,8,73,7.83985,953,0.032529,2,13,-11,0,0,1,2,0,2,0,2,31,4
Luke,9,8,75,14.6122,610,0.044262,0,7,-7,0,0,1,1,0,0,0,0,27,5
George,9,9,59,5.53675,685,0.037956,0,10,-10,0,0,0,5,0,1,0,1,26,6
Matt,7,8,53.5,4.61482,509,0.043222,2,12,-10,0,0,1,0,0,0,0,0,22,7

In [17]:
league_stats_df_by_gameweek[2][['goals scored','goals conceded','goal difference','weekly position']].sort_values('goal difference', ascending=False)

       goals scored goals conceded goal difference weekly position
George            4             12              -8               6
Emma              1             11             -10               1
Claire            5             19             -14               5
Luke              4             19             -15               2
Matt              5             20             -15               3
Olivia            4             20             -16               4
Fat               1             20             -19               7

In [22]:
df = fs.get_league_stats_df_by_stat(league_stats_df_by_gameweek_with_bench, 'goal difference', 'total')
pd.concat([df,league_stats_df_by_gameweek_with_bench[fs.current_gameweek][['weekly position']]],axis=1)

         1   2 totals weekly position
George -10  -8    -18               6
Emma   -11 -10    -21               3
Luke    -7 -21    -28               2
Olivia -11 -19    -30               5
Claire -11 -19    -30               1
Matt   -10 -20    -30               4
Fat    -12 -24    -36               7