In [1]:
import fantasy_stats_def as fs
import pandas as pd

#### Get all info (only run when new info to retrieve) ####

In [2]:
all_lineups_df = fs.get_all_lineups()

In [3]:
league_stats_df_by_gameweek = fs.get_league_stats_df_by_gameweek(all_lineups_df)
league_stats_df_by_gameweek_with_bench = fs.get_league_stats_df_by_gameweek(all_lineups_df, True)

In [6]:
league_points_df = fs.get_league_points_df(cumulative = True, totals = False)
league_positions_df = fs.get_league_positions_df()
league_standings_df = pd.concat([league_points_df, league_positions_df],keys=['points','position']).swaplevel(0,1).groupby(level=[0,1]).sum()

#### Play with info ####

In [7]:
league_standings_df

                  1    2    3
Claire points    39   85  115
       position   3    2    6
Emma   points    43  105  132
       position   2    1    2
Fat    points    48   73  123
       position   1    6    5
George points    26   64   90
       position   6    7    7
Luke   points    27   84  128
       position   5    3    3
Matt   points    22   78  144
       position   7    5    1
Olivia points    31   82  123
       position   4    4    4

In [8]:
all_lineups_df['Olivia',3]

,name,team,position,value,selected %,minutes,goals scored,goals conceded,penalties missed,penalties saved,assists,saves,own goals,yellow cards,red cards,foul points,total points
383,Lloris,Spurs,Goalkeeper,5.5,5.204,90,0,1,0,0,0,0,0,0,0,0,2
239,Justin,Leicester,Defender,4.7,20.6887,90,0,2,0,0,0,0,0,0,0,0,1
77,Lamptey,Brighton,Defender,4.6,6.47465,90,0,3,0,0,1,0,0,0,0,0,4
156,Keane,Everton,Defender,5,4.10364,90,0,1,0,0,0,0,0,0,0,0,2
235,Barnes,Leicester,Midfielder,7,3.63849,90,0,2,0,0,0,0,0,0,0,0,2
306,Rashford,Man Utd,Midfielder,9.5,5.48478,90,1,2,0,0,0,0,0,0,0,0,7
4,Aubameyang,Arsenal,Midfielder,11.9,29.4917,90,0,3,0,0,0,0,0,0,0,0,2
205,Costa,Leeds,Midfielder,5.6,8.51825,65,0,0,0,0,0,0,0,0,0,0,3
366,Ings,Southampton,Forward,8.4,17.4884,90,1,0,0,0,0,0,0,0,0,0,9
6,Lacazette,Arsenal,Forward,8.5,4.91228,73,1,2,0,0,0,0,0,0,0,0,7
303,Martial,Man Utd,Forward,9,13.3919,89,0,1,0,0,0,0,0,0,0,0,2
278,Ederson,Man City,Goalkeeper,6,5.52582,90,0,5,0,0,0,2,0,0,0,0,0
104,Alonso,Chelsea,Defender,6,3.23516,45,0,3,0,0,0,0,0,1,0,1,-1
386,Alderweireld,Spurs,Defender,5.5,2.41639,0,0,0,0,0,0,0,0,0,0,0,0
543,Bale,Spurs,Midfielder,9.5,0.156243,0,0,0,0,0,0,0,0,0,0,0,0
totals (inc. bench),13,10,,106.7,8.71535,1082,3,25,0,0,1,2,0,1,0,1,40
totals,11,8,,79.7,10.8542,947,3,17,0,0,1,0,0,0,0,0,41

In [9]:
league_stats_df_by_gameweek[3]

,active players,team,value,selected %,minutes,productivity,goals scored,goals conceded,goal difference,penalties missed,penalties saved,assists,saves,own goals,yellow cards,red cards,foul points,total points,weekly position
Matt,11,9,76.1,11.5036,885,0.074576,6,17,-11,0,0,2,0,0,1,0,1,66,1
Fat,11,8,67.4,9.41462,963,0.051921,4,18,-14,0,0,2,0,1,2,0,2,50,2
Luke,11,10,72.7,17.4911,956,0.046025,2,23,-21,0,0,3,2,0,3,0,3,44,3
Olivia,11,8,79.7,10.8542,947,0.043295,3,17,-14,0,0,1,0,0,0,0,0,41,4
Claire,11,7,77,8.9237,903,0.033223,3,19,-16,0,0,0,4,0,2,0,2,30,5
Emma,10,8,78.8,9.1997,775,0.034839,1,15,-14,0,0,3,2,1,2,0,2,27,6
George,10,9,72.7,6.88689,699,0.037196,1,19,-18,0,0,1,3,0,2,0,2,26,7

In [10]:
league_stats_df_by_gameweek[3][['goals scored','goals conceded','goal difference','weekly position']].sort_values('goal difference', ascending=False)

       goals scored goals conceded goal difference weekly position
Matt              6             17             -11               1
Fat               4             18             -14               2
Olivia            3             17             -14               4
Emma              1             15             -14               6
Claire            3             19             -16               5
George            1             19             -18               7
Luke              2             23             -21               3

In [11]:
df = fs.get_league_stats_df_by_stat(league_stats_df_by_gameweek_with_bench, 'goal difference', 'total')
pd.concat([df,league_stats_df_by_gameweek_with_bench[fs.current_gameweek][['weekly position']]],axis=1)

         1   2   3 totals weekly position
Emma   -11 -10 -14    -35               6
George -10  -8 -18    -36               7
Claire -11 -19 -18    -48               4
Matt   -10 -20 -18    -48               1
Fat    -12 -24 -14    -50               2
Luke    -7 -21 -23    -51               3
Olivia -11 -19 -22    -52               5